[submodule "plugins/duat-treesitter"]
	path = plugins/duat-treesitter
	url = ../duat-treesitter/
[submodule "plugins/duat-catppuccin"]
	path = plugins/duat-catppuccin
	url = ../duat-catppuccin/
[submodule "plugins/duat-kak"]
	path = plugins/duat-kak
	url = ../duat-kak
	branch = master
