[package]
name = "duat"
version = "0.7.3"
edition = "2024"
authors = ["AhoyISki"]
description = "A modern, very customizable text editor, configured in rust."
repository = "https://github.com/AhoyISki/duat"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["editor", "text", "application", "duat"]
categories = ["command-line-utilities", "text-editors", "config"]
include = ["src/", "templates/*"]

[lints.rust]
missing_docs = "warn"

[lints.clippy]
unit_arg = "allow"

[dependencies]
duat-core = "0.7.0"
dirs-next = "2.0.0"
log = "0.4.28"

# List of UIs.
duat-term = { version = "0.7.0", optional = true }

# Default plugins
duat-base = "0.7.0"
duat-filetype = "0.3.0"
duatmode =  "0.7.0"
duat-treesitter = { version = "0.3.2", optional = true }
duat-match-pairs = { version = "0.2.0", optional = true }

# Cli dependencies
[dependencies.clap]
version = "4.5.50"
features = ["derive"]
optional = true

[dependencies.libloading]
version = "0.8.9"
optional = true

[dependencies.notify]
version = "8.2.0"
optional = true

[dependencies.convert_case]
version = "0.8.0"
optional = true

[features]
default = ["term-ui", "treesitter", "cli"]
term-ui = ["dep:duat-term"]
deadlocks = ["duat-core/deadlocks"]
git-deps = []
cli = ["dep:clap", "dep:libloading", "dep:notify", "dep:convert_case"]
treesitter = ["dep:duat-treesitter", "dep:duat-match-pairs"]

[[bin]]
name = "duat"
path = "src/main.rs"

[lib]
name = "duat"
path = "src/lib.rs"

[build-dependencies]
dirs-next = "2.0.0"

[profile.lto-optimized]
codegen-units = 1
lto = true
inherits = "release"
