[package]
name = "duat-lsp"
version = "0.1.0"
edition = "2024"

[dependencies]
duat-core = "0.8.0"
jsonrpc-lite = "0.6.1"
lsp-types = { version = "0.97.0", features = ["proposed"] }
serde = "1.0.228"
serde_json = "1.0.149"
