[package]
name = "duat-treesitter"
version = "0.3.3"
edition = "2024"
authors = ["AhoyISki"]
description = "Plugin for tree-sitter bindings for Duat"
repository = "https://github.com/AhoyISki/duat-treesitter"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["tree-sitter", "duat", "plugin"]
categories = ["command-line-utilities", "text-editors", "config"]
include = ["src/*", "queries/*", "build.rs"]

[dependencies]
duat-core = "0.7.2"
duat-filetype = "0.3.2"

streaming-iterator = "0.1.9"
tree-sitter = "0.25.10"
tree-sitter-language = "0.1.5"
indoc = "2.0.6"
libloading = "0.8.9"
include_dir = "0.7.4"
