[package]
name = "duat-match-pairs"
version = "0.2.1"
authors = ["AhoyISki"]
description = "A duat plugin to highlight matched pairs"
repository = "https://github.com/AhoyISki/duat-match-pairs"
license = "GPL-3.0-or-later"
readme = "README.md"
keywords = ["editor", "text", "plugin", "duat"]
categories = ["command-line-utilities", "text-editors", "config"]
edition = "2024"

[dependencies]
duat-core = "0.7.0"
duat-filetype = "0.3.1"
duat-treesitter = "0.3.1"
