name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Install nightly toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Installing duat
        run: cargo install --path . --locked

      - name: Check version
        run: duat --version

      - name: Testing duat-core
        run: cargo test --offline --manifest-path "duat-core/Cargo.toml"
          
      - name: Testing duat-base
        run: cargo test --offline --manifest-path "duat-base/Cargo.toml"
          
      - name: Testing duat-term
        run: cargo test --offline --manifest-path "duat-term/Cargo.toml"
          
      - name: Testing duat
        run: cargo test --offline
